<th:block th:include="header"></th:block>
<div class="container">
	<div class="collection">
	  <a class="collection-item active red">Configuração do Tipo de Simulado</a>
	</div>
	<div class="row">
		<h3><a href="/tipoSimulado/TipoSimulados" class="waves-effect waves-light btn black"><i class="material-icons left">dashboard</i>Tipo de Simulados</a></h3>
		<th:block th:include="mensagemValidacao"></th:block>
		<form method="post" action="/simulado/insertConfigSimulado" class="container">
			<div class="row">
		      	<div class="input-field col s12">
					<label>Tipo Simulado</label><br><br>
					<input name="tipoSimulado" type="hidden" th:value="${TipoSimulado.id}">
		   			<span th:text="${TipoSimulado.tipoSimulado}"></span>
				</div>
		      	<div class="col s4">
					<label>Materia</label>
		   			<select name="materia" class="browser-default">
		   				<option value="0" selected>Selecione a Materia</option>
					    <option th:each="materia : ${Materia}" th:value="${materia.id}" th:text="${materia.Materia}"></option>
					</select>		
				</div>
		      	<div class="col s4">
					<label>Dificuldade</label>
		   			<select name="dificuldades" class="browser-default">
		   				<option value="0" selected>Selecione a Dificuldade</option>
					    <option th:each="dificuldade : ${Dificuldades}" th:value="${dificuldade.id}" th:text="${dificuldade.dificuldade}"></option>
					</select>		
				</div>
		        <div class="input-field col s4">
		          <input placeholder="Quantidade" name="quantidade" type="text" >
		          <label for="tipoSimulado">Quantidade</label>
		        </div>
		      </div>
			  <button class="btn waves-effect waves-light black right" type="submit" name="action">Cadastrar Configuração Tipo Simulado
			    <i class="material-icons right">send</i>
			  </button>
		</form>
	</div>
	<div class="row">
   		<th:block th:include="simulado/configuracaoSimulado"></th:block>
   	</div>
</div>
<th:block th:include="footer"></th:block>
