<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>RESISTENEM - Área</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
<span th:text="${Header}"></span>
 <nav>
   <div class="nav-wrapper black">
     <a class="brand-logo right white" href="https://resistenem.com.br/" target="_blank"><img src="/images/resistenem.png" border=0 /></a>
     <ul id="nav-mobile" class="gray left hide-on-med-and-down" th:if="${Header == true}">
       <li><a href="/administrador/administradores">Administradores</a></li>
       <li><a href="/area/areas">Area</a></li>
       <li><a href="/dificuldade/dificuldades">Dificuldade</a></li>
       <li><a href="/questao/questoes">Questão</a></li>
       <li><a href="/tipoSimulado/TipoSimulados">Tipo Simulados</a></li>
     </ul>
   </div>
 </nav>
        