<th:block th:include="header"></th:block>
<div class="container">

<P>Ola <span th:text=${session.ADM.nome}></span>, Bem Vindo ao ResistEnem</P>
<div class="collection">
  <a class="collection-item active red">QUEM SOMOS</a>
</div>

<p>Em meio à pandemia da Covid-19 em 2020, um grupo de voluntários mobilizou-se para construir o ResistEnem, projeto social que tem como objetivo estimular a popularização da educação por meio do uso de aplicativo multimídia de mensagens instantâneas.</p>

<p>Nos dois primeiros anos do projeto, mais de 60 alunos conseguiram aprovação em universidades públicas e privadas em todo o país. A Internet, além de facilitar o diálogo entre voluntários e alunos, é a principal forma de comunicação da ONG que conta com membros em várias regiões do Brasil e do mundo.</p>

<p>Mais de 800 alunos já passaram pelo projeto (2020-2021) que, atualmente, conta com a atuação de 140 voluntários. As equipes auxiliam vestibulandos de baixa renda na preparação para o Exame Nacional do Ensino Médio (ENEM).</p>

<p>O ResistEnem tem trabalhado alinhado aos Objetivos de Desenvolvimento Sustentável (ODS) da ONU*, que abordam os principais desafios de desenvolvimento enfrentados por pessoas no Brasil e no mundo.</p>

<div class="collection">
  <a class="collection-item active black">ODS 4 - Educação de qualidade</a>
</div>
<p>Garantir o acesso à educação inclusiva, de qualidade e equitativa, e promover oportunidades de aprendizagem ao longo da vida para todos.</p>

<div class="collection">
  <a class="collection-item active red">ODS 5 - Igualdade de gênero</a>
</div>
<p>Alcançar a igualdade de gênero e empoderar todas as mulheres e meninas.</p>

<div class="collection">
  <a class="collection-item active black">ODS 10 - Redução das desigualdades</a>
</div>
<p>Reduzir as desigualdades no interior dos países e entre países.</p>








</p>
</div>
<th:block th:include="footer"></th:block>
	