	
	<div class="collection">
	  <a class="collection-item active blue">Cadastro de Área</a>
	</div>
	<h3><a href="/login/login" class="waves-effect waves-light btn blue"><i class="material-icons left">dashboard</i>User</a></h3>
	<div class="row">
	<th:block th:include="mensagemValidacao"></th:block>
	<form method="post" class="container">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Área" name="area" type="text" >
          <label for="area">Área</label>
        </div>
        <div class="input-field col s6">
	  	    <p>
			    <label>
			      <input class="with-gap" name="status" type="radio" value="1" checked />
			      <span>Ativado</span>
			    </label>
			    <label>
			      <input class="with-gap" name="status" type="radio" value="0" />
			      <span>Desativado</span>
			    </label>
			</p>
        </div>
      </div>
	  <button class="btn waves-effect waves-light blue" type="submit" name="action">Cadastrar Área
	    <i class="material-icons right">send</i>
	  </button>
	</form>
	</div>
	
